.settings-dialog {
    h2 {
        font-size: 1.5rem;
        font-weight: 400;
        margin-bottom: 2rem;
        color: #fff;
    }

    h3 {
        font-size: 1rem;
        font-weight: 700;
        margin-bottom: 1.2rem;
        color: #fff;
        border-bottom: 1px solid #a9a9a93d;
        line-height: 3rem;
    }
}
