.participants_pane {
    background-color: #141414;
    flex-shrink: 0;
    overflow: hidden;
    position: relative;
    transition: width 0.16s ease-in-out;
    width: 315px;
    z-index: $zindex0;
}

.participants_pane-content {
    display: flex;
    flex-direction: column;
    font-weight: 600;
    height: 100%;
    width: 315px;

    & > *:first-child,
    & > *:last-child {
        flex-shrink: 0;
    }
}

.LeftPlacedIcons {
    display: flex;
    padding-left: 4px;
}

.LeftPlacedIcons div {
    padding: 2px 2px;
}

.raised-hand-indicator div {
    padding: 0 !important;
    margin: 2px;
}

.RightPlacedIcons {
    width: 22px;
}

.lobby-participant-name {
    color: #858585;
}

@media (max-width: 450px) {
    .participants_pane {
        height: 100vh;
        height: -webkit-fill-available;
        width: 100vw;
    }
}

.jitsi-icon {
    &-dominant-speaker {
        background-color: #1ec26a;
        border-radius: 3px;
    }
}

.mobile-browser.shift-right {
    .participants_pane {
        z-index: -1;
    }
}
