.subject {
    color: #fff;
    transition: opacity 0.6s ease-in-out;
    z-index: $toolbarZ + 2;
    margin-top: 10px;
    opacity: 0;

    &.visible {
        opacity: 1;
    }

    &#autoHide.with-always-on {
        overflow: hidden;
        animation: hideSubject forwards 0.6s ease-out;

        & > .subject-info-container {
            justify-content: flex-start;
            align-items: center;
        }

        &.visible {
            animation: showSubject forwards 0.6s ease-out;
        }
    }
}

.subject-info-container {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    height: 32px;

    @media (max-width: 500px) {
        flex-wrap: wrap;
    }
}

.details-container {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    top: -57px;
    height: 52px;
    max-width: calc(100% - 40px);
    background: #00000059;
    background: #404040;
    margin: auto 20px;
    border-radius: 10px;
    margin-top: 1;
    z-index: 1;
    pointer-events: none;
    width: fit-content;
    margin: 0 auto;
    padding-left: 1rem;
    padding-right: 1rem;
    transition: top 0.3s ease-in;
    box-shadow: 0px 2px 8px 4px rgba(0, 0, 0, 0.25), 0px 0px 0px 1px rgba(0, 0, 0, 0.15);

    &.visible {
        top: 30;

        .closeConferenceInfo {
            .jitsi-icon {
                top: -4px;
            }
        }
    }

    .closeConferenceInfo {
        padding-bottom: env(safe-area-inset-bottom, 0);
        height: 28px;
        width: 90px;
        left: calc(50% - 45px);
        position: absolute;
        // bottom: -42px;
        bottom: -28px;
        rotate: 0;
        z-index: 0;
        background: #393939;
        cursor: pointer;
        border-bottom-left-radius: 2rem;
        border-bottom-right-radius: 2rem;

        .jitsi-icon {
            fill: #fff;
            position: absolute;
            left: calc(50% - 16px);
            top: -1px;
        }
    }
}

.infobar-interactable {
    pointer-events: auto;
}

#detailIndicatorsLeft {
    display: flex;
    flex-direction: row-reverse;
}

#detailIndicatorsRight {
    display: flex;
    flex-direction: row;
}

@keyframes hideSubject {
    0% {
        max-width: 100%;
    }

    100% {
        max-width: 0;
    }
}

@keyframes showSubject {
    0% {
        max-width: 0%;
    }

    100% {
        max-width: 100%;
    }
}
