.subject {
    color: #fff;
    transition: opacity .6s ease-in-out;
    z-index: $toolbarZ + 2;
    margin-top: 10px;
    opacity: 0;

    &.visible {
        opacity: 1;
    }

    &#autoHide.with-always-on {
        overflow: hidden;
        animation: hideSubject forwards .6s ease-out;

        & > .subject-info-container {
            justify-content: flex-start;
            align-items: center;
        }

        &.visible {
            animation: showSubject forwards .6s ease-out;
        }
    }
}

.subject-info-container {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    height: 32px;

    @media (max-width: 500px) {
        flex-wrap: wrap;
    }
}

.details-container {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    top: 30;
    height: 52px;
    max-width: calc(100% - 40px);
    background: #00000059;
    margin: auto 20px;
    border-radius: 10px;
    margin-top: 1;
    z-index: 1;
    pointer-events: none;
    width: fit-content;
    margin: 0 auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

.infobar-interactable {
    pointer-events: auto;
}

#detailIndicatorsLeft {
    display: flex;
    flex-direction: row-reverse;
}

#detailIndicatorsRight {
    display: flex;
    flex-direction: row;
}

@keyframes hideSubject {
    0% {
        max-width: 100%;
    }

    100% {
        max-width: 0;
    }
}

@keyframes showSubject {
    0% {
        max-width: 0%;
    }

    100% {
        max-width: 100%;
    }
}
