/**
 * Round badge.
 */
.badge-round {
    background-color: #CB2233;
    border-radius: 50%;
    box-sizing: border-box;
    color: #ffffff;
    // Do not inherit the font-family from the toolbar button, because it's an
    // icon style.
    font-family: $baseFontFamily;
    font-size: 9px;
    font-weight: 700;
    line-height: 13px;
    min-width: 13px;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    vertical-align: middle;
    position: absolute;
    top: -10px;
}

/**
 * TODO: when the old filmstrip has been removed, remove the "new-" prefix.
 */
.new-toolbox {
    bottom: calc((#{$newToolbarSize} * 2) * -1);
    left: 0;
    position: absolute;
    right: 0;
    transition: bottom 0.3s ease-in;
    width: 100%;
    pointer-events: none;
    z-index: $toolbarZ + 2;

    .chat-counter {
        display: flex;
        justify-content: end;
        > span {
            min-width: 30px;
            min-height: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 18px;
            
        }
    }

    &.shift-up {
        bottom: calc(((#{$newToolbarSize} + 30px) * 2) * -1);

        .toolbox-content {
            margin-bottom: 46px;
        }
    }

    &.visible {
        bottom: 0;
    }

    &.no-buttons {
        display: none;
    }

    @media (max-width: 768px) {
        bottom: calc((70px * 2) * -1);
    }
}

.toolbox-content {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    margin-bottom: 16px;
    position: relative;
    z-index: $toolbarZ;
    pointer-events: none;

    .toolbox-button-wth-dialog {
        display: inline-block;
    }


    .toolbar-button-with-badge {
        display: inline-block;
        position: relative;

        .badge-round {
            //bottom: 35px;
            font-size: 14px;
            line-height: 20px;
            min-width: 20px;
            pointer-events: none;
            position: absolute;
            right: -5px;
        }
    }
}

.toolbox-content-wrapper {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 100%;
    pointer-events: all;

    .toolbox-content-items {
        @include ltr;
        z-index: 0;
        padding: 2px;
    }
}

.closeToolbox {
    padding-bottom: env(safe-area-inset-bottom, 0);
    height: 100px;
    width: 90px;
    left: calc(50% - 45px);
    position: absolute;
    top: -49px;
    rotate: 0;
    z-index: 0;
    background: #393939;
    cursor: pointer;
    border-radius: 2rem;

    .jitsi-icon {
        fill: #fff;
        position: absolute;
        left: calc(50% - 16px);
        top: 6px;
    }
}

.toolbox-content-wrapper::after {
    content: '';
    background: $newToolbarBackgroundColor;
    padding-bottom: env(safe-area-inset-bottom, 0);
}

.overflow-menu-hr {
    border-top: 1px solid #4c4d50;
    border-bottom: 0;
    margin: 8px 0;
}

div.hangup-button {
    background-color: #cb2233;

    @media (hover: hover) and (pointer: fine) {
        &:hover {
            background-color: #e04757;
        }

        &:active {
            background-color: #a21b29;
        }
    }

    svg {
        fill: #fff;
    }
}

div.hangup-menu-button {
    background-color: #cb2233;

    @media (hover: hover) and (pointer: fine) {
        &:hover {
            background-color: #e04757;
        }

        &:active {
            background-color: #a21b29;
        }
    }

    svg {
        fill: #fff;
    }
}

.profile-button-avatar {
    align-items: center;
}

/**
 * START of fade in animation for main toolbar
 */
.fadeIn {
    opacity: 1;

    @include transition(all 0.3s ease-in);
}

.fadeOut {
    opacity: 0;

    @include transition(all 0.3s ease-out);
}

/**
 * Audio and video buttons do not have toggled state.
 */
.audio-preview,
.video-preview {
    .toolbox-icon.toggled {
        background: none;

        &:hover {
            background: rgba(255, 255, 255, 0.2);
        }
    }
}

/**
 * On small mobile devices make the toolbar full width and pad the invite prompt.
 */
.toolbox-content-mobile {
    @media (max-width: 500px) {
        margin-bottom: 0;

        .toolbox-content-wrapper {
            width: 100%;
        }

        .toolbox-content-items {
            @include ltr;
            border-radius: 0;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            padding: 8px 0;
            width: 100%;
        }

        .invite-more-container {
            margin: 0 16px 8px;
        }

        .invite-more-container.elevated {
            margin-bottom: 52px;
        }
    }
}

.accessiblePopover {
    position: absolute;
    bottom: 50px;
    left: 3rem;
    width: max-content;
}

.focusOnPopover {
    position: relative;
}
